alabaster==0.7.11
amqp==2.3.2
Babel==2.6.0
billiard==3.5.0.4
celery==4.2.1
certifi==2018.4.16
chardet==3.0.4
click==6.7
docutils==0.14
Flask==1.0.2
Flask-SQLAlchemy==2.1
Foundations==2.1.0
futures==3.2.0
idna==2.7
imagesize==1.0.0
itsdangerous==0.24
Jinja2==2.10
kombu==4.2.1
linecache2==1.0.0
Manager==2.0.5
MarkupSafe==1.0
mysql==0.0.1
mysql-connector-python==8.0.11
Oncilla==0.1.0
order==0.1.17
packaging==17.1
protobuf==3.6.0
py-mysql==1.0
Pygments==2.2.0
pyparsing==2.2.0
pytz==2018.5
requests==2.19.1
schedule==0.5.0
scinum==0.2.3
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.6
sphinx-rtd-theme==0.4.1
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.10
traceback2==1.4.0
typing==3.6.4
unittest2==1.1.0
urllib3==1.26.5
vine==1.1.4
Werkzeug==0.14.1
lxml==4.2.4
