@import '~normalize.css/normalize';

/* // Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want */

*{
  margin: 0;
  padding: 0;

}

p{
  margin-bottom: 0;
}

ul, ul li {
  list-style: none;
}
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 320px!important;
  overflow-y: auto !important;
  // background: #eeeeee;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.center {
  text-align: center;
}


.navbar-header .navbar-brand{
  padding: 10px 15px;
}
.navbar{
  min-height: 80px !important;
  margin-bottom: 8px;
}

.main-container{
  // padding: 0 5%;
  background: #fff;
}
.area-container{
  background: #eee;
}

.pd-5{
  padding:0 5%;
}
.pb-10{
  padding-bottom: 10px; 
}

.highcharts-credits{
  display: none;
}
.txt-title{
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.mb-8{
  margin-bottom: 8px;
}
.mb-20{
  margin-bottom: 20px;
}

.white-space{
  height: 6px;
  background: #eee;
}

.row{
  margin: 0 !important;
}


.monitor-table-container th {
  width: 50%;
  padding: 10px 0;

}
.monitor-table-container .monitor-table-body tr .table-left-td {
  text-align: left;
}
.monitor-table-container .monitor-table-body tr td{
  width: 50%;
  text-align: center;
  padding: 8px 0;
  vertical-align:middle;
  .flex-container{
    display: flex;
    .table-img{
      width: 12px;
    }
    .table-info{
      flex: 1;
    }
  }
  
}

th{
  text-align: center;
}

.mb-8{
  margin-bottom: 8px;
}

table{
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 1px solid #ddd;
}

.small-size{
  font-size: 12px;
  color: #999;
}

.bg-white{
  background: #fff;
}

.nav-pills > li > a{
  color: #333;
  border-radius: none !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background: transparent !important;
  color: #337ab7;
  border-bottom: 1px solid #337ab7;
  border-radius: none !important;

}

.nav>li>a:focus, .nav>li>a:hover{
  background: transparent !important;
  border-radius: none !important;

}

.nav-pills>li>a{
  border-radius: 0;
}

.moni-label{
  font-size: 12px;
  color: #28a745;
}
.red.moni-label{
  color: rgba(252, 5, 46, 1);
}

.table-header{
  padding: 5px 0;
}

.change-period-tab{
  padding-left: 2%;
  padding-top: 8px;
  padding-bottom: 10px;
  span{
    display: inline-block;
    padding: 3px 6px;
    cursor: pointer;
  }
  span.active{
    border-bottom: 1px solid #337ab7;
    color: #337ab7;
  }
  // span:hover{
  //   border-bottom: 1px solid #337ab7;
  //   color: #337ab7;
  // }
}
.trans-label{
  text-align: center;
}

@media (max-width: 767px) {
  .tab-left, .tab-right{
    width: 100%;
    float: none;
  }
  
  .table{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  .table-responsive {
    border: 0 !important;
  }
  .white-space{
    height: 3px;
  }
  .nav>li>a{
    padding: 10px 10px;
  }

}

@media (max-width: 320px) {
  .nav>li>a{
    padding: 10px 5px;
  }
}